* text=auto !eol
/Makefile -text
/camp2ascii.c -text
/camp2ascii.h -text
/camp2ascii.lsm -text
doc/call_graph.fig -text
doc/call_graph.pdf -text
doc/structure.fig -text
doc/structure.png -text
doc/structure.svg -text
/files.c -text
/files.h -text
/frame_read.c -text
/frame_read.h -text
/generic_functions.c -text
/generic_functions.h -text
/initializations.c -text
/initializations.h -text
/limits.h -text
/structures.h -text
/types_processing.c -text
/types_processing.h -text
